@import url("https://refact0r.github.io/system24/build/system24.css");
@import url("https://raw.githubusercontent.com/refact0r/midnight-discord/refs/heads/master/themes/flavors/midnight-catppuccin-macchiato.theme.css");

body {
    --ascii-titles: off;
    --ascii-loader: cats;

    --dms-background-image-url: url("https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/logos/exports/macchiato_square.png");
}

[class*="scrollerSpacer_"] {
    height: 10px !important;
}

[class*="chatTypingGradient"] {
    display: none !important;
}

[class*="messagesWrapper"]::before {
    height: 10px !important;
}

[class*="typing_"] {
    position: absolute;
    top: -31.5px !important;
    left: unset !important;
    background-color: var(--bg-4, var(--background-secondary));
    border: 1px solid var(--border, transparent);
    padding: 2px 10px !important;
    pointer-events: none;
}

[class*="typingDots_"] {
    margin-inline-start: 4px !important;
}

[class*="typing_"] span[class*="text_"]:nth-child(2) {
    display: none;
}

[class*="typing_"] span[class*="text_"]:nth-child(3) {
    visibility: visible !important;
    position: unset !important;
    margin-left: 10px;
}